@import 'utils/normalize'
@import 'nib'

// Import fonts
@import 'utils/fonts'
@import 'utils/ico'

// Import config
@import 'config/identity'
// General
.ww_center
	max-width 1200px
	width 94%
	margin auto
body
	font-size 15px
	font-family t-0
	color c-0
	-webkit-font-smoothing antialiased
	-webkit-tap-highlight-color transparent
a
	color inherit
	&:focus
		outline none


// Para Proyecto en Produccion
// @import 'blocks/*'
// Import animations
