// COLOR BASE
blanco = #ffffff
negro = #000000
// Colors idendity
c-0 = #000
c-1 = #000
c-2 = #000
c-3 = #000
c-4 = #000
c-5 = #000
c-6 = #000

// Fonts
t-0 = 'arial', sans-serif
t-1 = 'arial', sans-serif
t-2 = 'arial', sans-serif
t-3 = 'arial', sans-serif
t-4 = 'arial', sans-serif
t-5 = 'arial', sans-serif

icomoon = 'icomoon'
// Mixins
placeholder(color,famyli)
	::-webkit-input-placeholder { color: color; font-family: famyli; } /* WebKit */
	:-moz-placeholder { color: color; font-family: famyli; } /* Firefox 18- */
	::-moz-placeholder { color: color; font-family: famyli; } /* Firefox 19+ */
	:-ms-input-placeholder { color: color; font-family: famyli; } /* IE 10+ */
cf()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both
backgroundsize(position1,position2)
	background-repeat no-repeat
	background-size cover
	background-position position1 position2
displayflex(direction,position)
	display flex
	flex-wrap wrap
	flex-flow wrap
	justify-content direction
	align-items position
img-res()
	width 100%
	height auto
	display block
