extends common/_base.pug
//- css
append css

//- body classs
block vars
	- var bodyClass = 'class'
//- Contenido
block content
//- js
append scripts
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${GOOGLE_APIKEY}`)
	script.
		$(function(){})
